black==25.1.0
click==8.1.8
iniconfig==2.0.0
lark-parser==0.12.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
Pygments==2.19.1
pytest==8.3.4
rich==13.9.4
